{% extends "base.html" %}
{% block content %}
<h1>¿Quiénes Somos?</h1>
<p> 
    La empresa SmartTech se fundo en base a poder tener 
    una herramienta muy útil en nuestra vida diaria, cual 
    ofrece una combinación única de funcionalidad, comodidad y estilo, 
    lo que los convierte en una herramienta valiosa para mejorar 
    nuestra salud, productividad y calidad de vida en general.
</p>
<h1>MISIÓN</h1>
<p>
    La empresa SmartTech tiene como objetivo en poder dar una 
    mejora de calidad de vida. Ofreciendo servicios de dispositivos 
    compactos y versátiles se han convertido en una extensión de 
    nuestros smartphones, brindando una gran funcionalidad en nuestra muñeca.
</p>
<h1>VISIÓN</h1>
<p>
    Transformar a la empresa a través de sus funcionalidades una gran 
    servicio a la sociedad, ofreciendo productos de alta calidad y diseño 
    ético que inspiren a un cambio positivo.
</p>
<div>
    <h1>Equipo de Trabajo</h1>
    <p>El equipo de trabajo esta a los servicios de la comunidad</p>
    <img src="static/css/imagenes/imagen1.jpg">
    <img src="static/css/imagenes/imagen2.png">
    <img src="static/css/imagenes/imagen3.png">
    <img src="static/css/imagenes/imagen4.png">
</div>
{% endblock %}
