{% extends "base.html" %}
{% block content %}
<h2>Bienvenidos a SmartTech</h2>
<p>La empresa SmartTech ofrece smart watch la cual es un producto de diferentes modelos,
    la cual tienen una funcionalidad cada uno. Genera una ayuda a ser mas de mejorar 
    nuestra salud, productividad y calidad de vida.
</p>
<div>
    <h3>Testimonios</h3>
    <p>"Excelente servicio!" - Cliente Satisfecho</p>
    <p>"Ofrece un buen producto" - Cliente anonimo </p>
    <p>"Ofrece una buena calidad de vida" - Cliente anonimo</p>
</div>
<div>
    <h3>Ventajas</h3>
    <ul>
        <li>Los smartwatch da mas seguridad y comodidad</li>
        <li>Monitoreo de la actividad física: Cuenta pasos, distancia recorrida, calorías quemadas, frecuencia cardíaca y más.
        <li>Seguimiento del sueño: Analiza tus patrones de sueño y te ayuda a mejorar tu descanso.</li>
        <li>Recordatorios de actividad: Te motiva a moverte y mantenerte activo durante el día.</li>
        <li>Medición de niveles de estrés: Algunos modelos pueden detectar signos de estrés y ofrecerte técnicas de relajación.</li>
        <li>Monitoreo de la salud femenina: Permite llevar un seguimiento del ciclo menstrual y otros indicadores de salud reproductiva.</li>
    </ul>
</div>
<div>
    <h3>Síguenos en redes sociales</h3>
    <a href="#">Facebook</a>
    <a href="#">Twitter</a>
</div>
{% endblock %}