{% extends "base.html" %}
{% block content %}
<h2>Noticias</h2>
<div>
    <h2>reloj inteligente más completo</h2>
    <img src="static/css/imagenes/imagen5.png" alt="Noticia 1">
    <p>Los relojes inteligentes han conseguido hacerse un hueco como un accesorio casi imprescindible, 
        sobre todo para los amantes de la práctica deportiva.</p>
</div>
<div>
    <h3>Relojes inteligentes</h3>
    <img src="static/css/imagenes/imagen6.png" alt="Noticia 2">
    <p> Hay multitud de funciones que tienen los relojes y que no podemos 
        realizar con un anillo, por muy potente que este sea, por su propio 
        factor de forma. Esto es cierto también en los relojes si se les compara 
        con los smartphones, pero aún así sus posibilidades son mayores que las 
        de los anillos.</p>
</div>
{% endblock %}