{% extends "base.html" %}
{% block content %}
<h2>Servicios</h2>
<div>
    <h3>Servicio GPS</h3>
    <img src="static/css/imagenes/imagen7.png" alt="Servicio 1">
    <p>El uso de GPS conectado con su teléfono inteligente 
        calibrará su reloj y puede mejorar la precisión de 
        la distancia para actividades registradas sin GPS, como caminar o correr.</p>
    <a href="https://support.garmin.com/es-MX/?faq=181lYysPu89MXf3hbi6MF6#:~:text=%C2%BFEl%20uso%20de%20GPS%20conectado,GPS%2C%20como%20caminar%20o%20correr.">Leer más</a>
</div>
<div>
    <h3>Servicio de llamadas</h3>
    <img src="static/css/imagenes/imagen8.png" alt="Servicio 2">
    <p>El reloj permite realizar llamadas vía Bluetooth y llamadas de eSIM en diferentes situaciones.</p>
    <p>Si se interrumpe la conexión Bluetooth y el servicio eSIM está 
        activado para el reloj, puedes hacer o responder llamadas con el 
        número de eSIM activado en el reloj.</p>
    <a href="https://consumer.huawei.com/es/support/content/es-es15817379/">Leer más</a>
</div>
{% endblock %}
